<template name="create">
<!--Code for create_metric goes here-->
	<div class="row-fluid span10" id="create_header">
		<div class="span6">
			<h3 class="text-center">Create Metric:</h3>
		</div>
		<div class="span4 pull-right">
			<h3>Metric Preview:</h3>
		</div>
	</div>	
	<div class="row-fluid span10">
		<div class="span4" id="create_form">
			<form id="create_metric_form" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="quick_add">Quick Add:</label>
					<div class="controls">
						<a id="launch_quick_add" href="#quick_add" role="button" class="btn btn-inverse" data-toggle="modal">Quick Add</a>
						<div id="quick_add" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="prep_label" aria-hidden="true">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="prep_label">Quick Add:</h3>
						  </div>
						  <div class="modal-body">
							<div class="input-prepend input-append">
								<span class="add-on">create_metric(</span>
								<textarea id="quick_add_prompt" rows="8" cols="200" class="span3" placeholder="metric_name,{cols:added},join.src,{join:cols},extra_sql,{indices}"></textarea>
								<span class="add-on">)<span>
							</div>					
						  </div>
						  <div class="modal-footer">
						    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Preview</button>
						  </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="metric_name">Metric Name:</label>
					<div class="controls">
						<input class="create_input" type="text" id="metric_name" placeholder="metric_name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="cols_added">Columns added:</label>
					<div class="controls">
						<input class="create_input" type="text" id="cols_added" placeholder="{cols:added}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="join_src">Join Source:</label>
					<div class="controls">
						<input class="create_input" type="text" id="join_src" placeholder="join.src">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="join_cols">Join Columns:</label>
					<div class="controls">
						<input class="create_input" type="text" id="join_cols" placeholder="{join:cols}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="extra_sql">Additional SQL:</label>
					<div class="controls">
						<textarea rows="3" class="create_input" id="extra_sql" placeholder="Like where, group by, qualify"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="indices">Primary Index:</label>
					<div class="controls">
						<input class="create_input" type="text" id="indices" placeholder="{primary:indices}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="prep_sql">Preparatory SQL:</label>
					<div class="controls">
						<a href="#prep_sql_prompt" role="button" class="btn btn-inverse" data-toggle="modal">Add Prep SQL</a>
						<!-- Modal -->
						<div id="prep_sql_prompt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="prep_label" aria-hidden="true">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="prep_label">Add Prep SQL:</h3>
						  </div>
						  <div class="modal-body">
							<textarea id="prep_sql" class="span12 create_input" cols="200" rows="8" placeholder="Paste your SQL here..."></textarea>
						  </div>
						  <div class="modal-footer">
						    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save Prep SQL</button>
						  </div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="span6 pull-right" id="create_preview">
<pre class="pre-scrollable">
{{prep_sql}}	
CREATE TABLE add_{{metric_name}} as (
SELECT a.*{{cols_added}} 
FROM &lt;user_table&gt; a
LEFT JOIN {{join_src}} b
{{join_cols}}
{{extra_sql}}
)WITH DATA PRIMARY INDEX({{indices}});
</pre>
			<div>
				<p class="text-center"><a href="#metric_submit" role="button" class="btn btn-inverse" data-toggle="modal">Submit Metric</a>
				<!-- Modal -->
				<div id="metric_submit" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="prep_label" aria-hidden="true">
					<div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 id="submit_label">Submit Metric:</h3>
					 </div>
					 <div class="modal-body">
						<div class="submit_field">
							<textarea id="metric_desc" rows="3" cols="200" class="span12" placeholder="Enter a description here (highly recommended)"></textarea>
						</div>
						<div class="submit_field">
							<input type="text" class="span12" placeholder="Enter a collection here..." id="metric_collection">
						</div>					
					 </div>
					 <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					    <button data-dismiss="modal" id="submit_new_metric" class="btn btn-primary">Submit</button>
					 </div>
				</div>
				</p>
			</div>
		</div>
	</div>	
</template>