<template name="docs">
	<div class="row-fluid span10">
		<p class="text-right"><a class="text-right btn btn-primary">Table of Contents</a></p>
	</div>
	<div class="span10 hero-unit">
		<h1>SQL Library Documentation:</h1>
		<p>Please click Tutorial for a brief overview of the tool,<br/>
			click Next to jump into the documentation,</br> 
			or choose a topic from the table of contents in the upper right.</p>
		<p class=text-right>
			<a class="text-right btn btn-primary btn-large">Tutorial</a>
			<a class="text-right btn btn-primary btn-large">Next</a>
		</p>
	</div>
</template>
