<template name="feedback">
	<div class="span6 offset1">
		<form id="site_feedback">
			<legend>Please enter your feedback below:</legend>
			<textarea id="feedback_text" rows="6" class="span12" placeholder="We want to hear from you!"></textarea>
			<select id="feedback_type">
				<option value="general">General Feedback</option>
				<option value="suggestion">Suggestion</option>
				<option value="bug">Bug</option>
			</select>
			<div>
			<button class="btn btn-inverse" id="feedback_submit">Submit</button>
			</div>
		</form>
	</div>
</template>
