<template name="search">
	<div id="search_add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="search-add-header" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="search-add-header">Add Metric:</h3>
		</div>
		<div class="modal-body">
			<div id="summary">
				<textarea id="search-add-command" placeholder="add_metric(...);" class="span5" rows="15">add_metric(...);	
				</textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Exit</button>
			<button id="1.2" class="btn btn-success search-submit" data-dismiss="modal" aria-hidden="true">Submit</button>
		</div>
	</div>	
	<div id="search_bar">
		<div class="input-append">
			<input type="text" id="metric_querybox" class="input-medium" placeholder="field:condition">
			<button id="query_metrics" class="btn btn-inverse">Search</button>
		 	<button class="btn btn-inverse">Advanced</button>
		</div>
	</div>
	<div id="results">
		<table class="table">
		{{#isolate}}	
		{{#each search_results}}
		<tr>
			<td>
			<div class="card">
				<div class="span6">
				<table class="table table-bordered">
					<tr class="info">
						<td><b>Metric Name:</b></td>
						<td class="field_result">{{metric_name}}</td>
					</tr>
					<tr>
						<td><b>Columns Added:</b></td>
						<td class="field_result">{{cols_added}}</td>
					</tr>
					<tr>
						<td><b>Join Source:</b></td>
						<td class="field_result">{{join_src}}</td>
					</tr>
					<tr>
						<td><b>Available Join Columns:</b></td>
						<td class="field_result">{{join_cols}}</td>
					</tr>
					<tr>
						<td><b>Extra SQL:</b></td>
						<td class="field_result">{{extra_sql}}</td>
					</tr>
					<tr>
						<td><b>Indices:</b></td>
						<td class="field_result">{{indices}}</td>
					</tr>
					<tr>
						<td><b>Preparatory SQL:</b></td>
						<td class="field_result">{{prep_sql}}</td>
					</tr>
					<tr>
						<td><b>Preview:</b></td>
						<td class="field_result"><b>{{preview}}</b></td>
					</tr>
				</table>
				</div>
				<div class="span4">
				<table class="table table-bordered">
					<tr>
						<td><b>Collection:</b></td>
						<td class="field_result">{{collection}}</td>
					</tr>
					<tr>
						<td><b>Description:</b></td>
						<td class="field_result">{{description}}</td>
					</tr>
					<tr>
						<td><b>Used:</b></td>
						<td class="field_result">{{used}}</td>
					</tr>
				</table>
				<button id="{{_id}}" name="{{metric_name}}" class="btn btn-inverse add_explorer_metric">Add to Script</button>
			</div>			
			</div>
			</td>
		</tr>	
		{{/each}}
		{{/isolate}}
	</div>
</template>