<template name="search">
	<div id="search_add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="search-add-header" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="search-add-header">Command Console:</h3>
		</div>
		<div class="modal-body">
			<div id="search-add-body">
				<legend>Click on a command type to get started</legend>
				<div class="span12">		
				<textarea class="span11 pull-left" id="search-command-input" rows="6" value=""></textarea>
				<div class="btn-group span11 pull-left">
	 					<button id="search_create_predict" name="" class="btn btn-inverse span3 text-center search-add">create</btn>
						<button id="search_add_metric_predict" name="" class="btn btn-inverse span3 text-center search-add">add_metric</btn>
						<button id="search_select_predict" name="" class="btn btn-inverse span3 text-center search-add">select</btn>
						<button id="search_raw_predict" name="" class="btn btn-inverse span3 text-center search-add">raw</btn>
				</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Exit</button>
			<button id="1.2" class="btn btn-success search-submit" data-dismiss="modal" aria-hidden="true">Submit</button>
		</div>
	</div>	
	<div id="search_bar">
		<div class="input-append">
			<input type="text" id="metric_querybox" class="input-large" placeholder="metric_name">
			<button id="query_metrics" class="btn btn-inverse">Search</button>
		 	<button class="btn btn-inverse">Advanced</button>
		</div>
	</div>
	<div id="results">
		{{#isolate}}	
		{{#each search_results}}
			<div class="card">
				<div class="span6">
				<table class="table table-bordered">
					<tr class="info">
						<td><b>Metric Name:</b></td>
						<td class="field_result">{{metric_name}}</td>
					</tr>
					<tr>
						<td><b>Columns Added:</b></td>
						<td class="field_result">{{cols_added}}</td>
					</tr>
					<tr>
						<td><b>Join Source:</b></td>
						<td class="field_result">{{join_src}}</td>
					</tr>
					<tr>
						<td><b>Available Join Columns:</b></td>
						<td class="field_result">{{join_cols}}</td>
					</tr>
					<tr>
						<td><b>Extra SQL:</b></td>
						<td class="field_result">{{extra_sql}}</td>
					</tr>
					<tr>
						<td><b>Indices:</b></td>
						<td class="field_result">{{indices}}</td>
					</tr>
					<tr>
						<td><b>Preparatory SQL:</b></td>
						<td class="field_result">{{prep_sql}}</td>
					</tr>
					<tr>
						<td><b>Preview:</b></td>
						<td class="field_result"><b>{{preview}}</b></td>
					</tr>
				</table>
				</div>
				<div class="span4">
				<table class="table table-bordered">
					<tr>
						<td><b>Collection:</b></td>
						<td class="field_result">{{collection}}</td>
					</tr>
					<tr>
						<td><b>Description:</b></td>
						<td class="field_result">{{description}}</td>
					</tr>
					<tr>
						<td><b>Used:</b></td>
						<td class="field_result">{{used}}</td>
					</tr>
				</table>
				<button id="{{_id}}" name="{{metric_name}}" class="btn btn-inverse add_explorer_metric">Add to Script</button>
			</div>			
			</div>
		{{/each}}
		{{/isolate}}
	</div>
</template>

