<template name="settings">
	<div class="span4 offset1">
	{{#isolate}}
	<form>
		<fieldset>
			<legend>Settings {{#isolate}}<button class="btn btn-primary pull-right" id="settings_save">Settings Saved.</button>{{/isolate}}</legend>
			
			<label>Name:</label>
			<input class="acct_setting" type="text" id="name">
			<label>Email:</label>
			<input class="acct_setting" type="text" id="email">
			{{#isolate}}
			<label>Syntax:</label>
			<select class="acct_setting" id="num_tasks">
				<option id="td_syntax" value="Teradata">Teradata</option>
				<option id="mysql_syntax" value="MySQL">MySQL</option>
			</select>
			{{/isolate}}			
		</fieldset>
	</form>
	{{/isolate}}
	<div class="btn-group pull-left">
		<button class="btn btn-inverse" id="join_group">Join an organization</button>
	</div>
	</div>
</template>