<template name="settings">
	<div class="span8 row-fluid">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#" data-toggle="tab" name="Preferences" class="settings_option">Preferences</a></li>
			<li><a href="#" data-toggle="tab" name="Account" class="settings_option">Account</a></li>
		</ul>
	</div>
	<div class="span8 row-fluid">
		<form class="form-horizontal">
		{{#each selected_settings}}
			<div class="control-group">
				<label class="control-label" for="{{setting_name}}">{{setting_name}}</label>
				<div class="controls">
					<select id="{{setting_name}}">
					{{#each options}}
						<option>{{option_text}}</option>
					{{/each}}
					</select>
				</div>
			</div>
		{{/each}}
		<button class="btn" type="submit">Save Settings</button>
		</form>
	</div>				
</template>							
							
