<template name="settings">
	  <div id="join_org_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="join_org" aria-hidden="true">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="join_org">Select an organization to join</h3>
		  </div>
		  <div class="modal-body" id="join_org_modal_body">
			<form>	
			{{#isolate}}				
			<label>Organization Name:</label>
			<select id="select_org">
				<option value="none">None</option>
				{{#each orgs}}
					<option value="{{organization_name}}">{{organization_name}}</option>
				{{/each}}
			</select>
			{{#if selected_org}}
			<label>Group Name:</label>
			<select id="select_group">
				<option value="none">None</option>
				{{#each groups}}
					<option value="{{group_name}}">{{group_name}}</option>
				{{/each}}
			</select>
			<label>Role Type:</label>
			<select id="role_type" >
				<option value="analyst">Analyst</option>
				<option value="admin">Admin</option>
			</select>
			<div class="form-actions">
			<button class="btn btn-inverse" id="submit_org_request">Submit Access Request</button>		
			</div>
			{{/if}}	
			</form>
			{{/isolate}}
		  </div>
		  <div class="modal-footer">
		    <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Exit</button>
		  </div>
		</div>
	<div id="manage_group_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="manage_groups" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="manage_groups">Manage Groups:</h3>
	  </div>
	  <div class="modal-body" id="manage_group_modal_body">
		<form>	
		<label>Remove Group Access</label>
		<select id="remove_groups" multiple="multiple" class="span6">
			{{#each libraries}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		<label>Add Group Access</label>
		<select id="add_groups" multiple="multiple" class="span6">
			{{#each libraries}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>			
		</form>
		<div class="form-actions">
		<button class="btn btn-inverse" id="submit_group_request">Submit Access Request</button>		
		</div>
	  </div>
	  <div class="modal-footer">
	    <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Exit</button>
	  </div>
	</div>
	<div class="span4 offset1">
	{{#isolate}}
	<div id="settings-errors">
	</div>	
	<form>
		<fieldset>
			<legend>Settings {{#isolate}}<button class="btn btn-inverse pull-right" id="settings_save">Settings Saved.</button>{{/isolate}}</legend>
			<label>Name:</label>
			<input class="acct_setting" type="text" id="setting_user_name">
			<label>Email:</label>
			<input class="acct_setting" type="text" id="setting_user_email">
			{{#isolate}}
			<label>Syntax:</label>
			<select class="acct_setting" id="syntax-type">
				<option id="td_syntax" value="teradata">Teradata</option>
				<option id="mysql_syntax" value="MySQL">MySQL</option>
			</select>
			{{/isolate}}			
		</fieldset>
	</form>
	{{/isolate}}
	{{#isolate}}
	{{#if num_orgs}}
		{{#if org_access}}
			
			{{#each org_access}}
			<div>
			<form>	
			<label>Organization:</label>	
			<input type="text" class="uneditable-input input span3" value="{{organization_name}}">
			{{#if group_access}}
				<label>Group Names:</label>
				<select disabled class="uneditable-input span3" multiple="multiple">
				{{#each group_access}}
					<option value="{{group_name}}">{{group_name}}</option>
				{{/each}}
				</select>
				<!--
				<div class="form-action">
				<button class="btn btn-inverse" id="launch_manage_groups">Manage Groups</button>
				</div>
				-->
			{{else}}
				{{#if group_pending}}
					{{#each group_pending}}
					<p><strong>Pending access request for group: {{group_name}}</strong></p>
					{{/each}}
				{{else}}		
					<div class="btn-group form-action">
						<button class="btn btn-inverse" id="launch_join_group">Join a group</button>
					</div>
				{{/if}}
			{{/if}}	
			</div>
			{{/each}}	
		{{else}}
			{{#each org_pending}}
			<p><strong>Pending access request for: {{organization_name}}</strong></p>
			{{/each}}
		{{/if}}			
	{{else}}
	<div class="btn-group form-action">
		<button class="btn btn-inverse" id="launch_join_org">Join an organization</button>
	</div>
	{{/if}}
	{{/isolate}}	
		<label>My Libraries:</label>
		<select multiple="multiple" class="uneditable-input span3" disabled>
			{{#each libraries}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		<label>My userID:</label>
		<input type="text" class="input uneditable-input span3" disabled value="{{user_id}}">
	</form>			
	</div>
</template>

<template name="join_org_error">
	<div class="alert alert-error">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>Please update your name and email first</strong>
	</div>
</template>	